@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@500;600&family=Raleway:ital,wght@1,500&display=swap');

header{
    text-align: center;    
    position: relative;
    font-family: 'Caveat', cursive;
    height: 748px;
}

.img_index{
    width: 1344px;
    height: 748px;
}

.h1_h2{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    padding-top: 25px;
    color: white;
    border-radius: 5px;
}

h1{
    font-size: 50px;
}

.span{
    color: rgb(212, 119, 65);
    font-size: 70px;
}

h2{
    font-size: 35px;
}




