@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@500;600&family=Raleway:ital,wght@1,500&display=swap');

.botonA単adir{
    font-family: 'Caveat', cursive;
    font-size: 25px;
    padding-left: 3px;
    padding-right: 5px;
    border: 1px solid orange;
    border-radius: 7%;

}

.botonA単adir:hover{
    color: orange;
    font-weight: bold;
}

@media only screen and (min-width:821px) and (max-width:912px){

    .botonA単adir{
        font-size: 35px;
    }
}

@media only screen and (min-width:769px) and (max-width:820px){
    .botonA単adir{
        font-size: 35px;
    }
}