.botonAumento{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border-color: orange;
}

.botonAumento:hover{
    font-weight: bold;
}

@media only screen and (min-width:821px) and (max-width:912px){

    .botonAumento{
        height: 60px;
        width: 60px;
        font-size: 25px;
    }
}

@media only screen and (min-width:769px) and (max-width:820px){

    .botonAumento{
        height: 60px;
        width: 60px;
        font-size: 25px;
    }
}