@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@500;600&family=Raleway:ital,wght@1,500&display=swap');

.cartVacio{
    background-image: linear-gradient(rgba(255, 0, 0, 0.603),orange,rgba(255, 0, 0, 0.603));
    font-family: 'Caveat', cursive;
    color: white;
    font-size: 50px;
    text-align: center;
    height: 300px;
    padding-top: 100px;
    width: 1440px;
}

.h2CartEmpty{
    font-size: 45px;
    color: red;
}

@media only screen and (min-width:993px) and (max-width:1200px){

    .cartVacio{
        width: 1200px;
    }
}

@media only screen and (min-width:769px) and (max-width:992px){

    .cartVacio{
        width: 992px;
    }
}

@media only screen and (min-width:577px) and (max-width:768px){

    .cartVacio{
        width: 768px;
    }
}

@media only screen and (min-width:415px) and (max-width:576px){

    .cartVacio{
        width: 576px;
        padding-top: 70px;
    }
}

@media only screen and (min-width:360px) and (max-width:414px){

    .cartVacio{
        width: 414px;
        padding-top: 40px;
    }
}