@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@500;600&family=Raleway:ital,wght@1,500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerDetalle{
display: flex;
justify-content: center;
padding: 50px;
width: 100%;
font-family: 'Caveat', cursive;
font-size: 35px;
background-image: linear-gradient(rgba(255, 0, 0, 0.603),orange,rgba(255, 0, 0, 0.603));
}

@media only screen and (min-width:993px) and (max-width:1200px){

    .containerDetalle{
        width: 1200px;
    }
}

@media only screen and (min-width:769px) and (max-width:992px){

    .containerDetalle{
        width: 992px;
    }
}

@media only screen and (min-width:577px) and (max-width:768px){

    .containerDetalle{
        width: 768px;
    }

    .pDetalle{
        font-size: 30px;
    }
}

@media only screen and (min-width:415px) and (max-width:576px){

    .containerDetalle{
        width: 576px;
        padding: 30px;
    }

    .pDetalle{
        font-size: 30px;
    }
}

@media only screen and (min-width:360px) and (max-width:414px){

    .containerDetalle{
        width: 414px;
    }

    .pDetalle{
        font-size: 30px;
    }
}

@media only screen and (min-width:280px) and (max-width:359px){

    .containerDetalle{
        width: 359px;
        padding: 30px;
    }
}