@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@500;600&family=Raleway:ital,wght@1,500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerDetalle{
display: flex;
justify-content: center;
padding: 50px;
width: 1280px;
font-family: 'Caveat', cursive;
font-size: 30px;
background-image: linear-gradient(rgba(255, 0, 0, 0.603),orange,rgba(255, 0, 0, 0.603));
}

@media only screen and (min-width: 913px) and (max-width: 1024px){

    .containerDetalle{
        width: 1024px;
    }
}

@media only screen and (min-width:821px) and (max-width:912px){

    .containerDetalle{
        font-size: 40px;
    }
}

@media only screen and (min-width:769px) and (max-width:820px){
    
    .containerDetalle{
        font-size: 40px;
    }
}