@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@500;600&family=Raleway:ital,wght@1,500&display=swap');

.buttonGoToCart{
    font-family: 'Caveat', cursive;
    font-size: 25px;
    padding-left: 3px;
    padding-right: 5px;
}

.buttonGoToCart:hover{
    color: orange;
    font-weight: bold;
}