@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@500;600&family=Raleway:ital,wght@1,500&display=swap');

header{
    text-align: center;    
    position: relative;
    font-family: 'Caveat', cursive;
    height: 800px;
    width: 1440px;
    background-image: linear-gradient(rgba(255, 0, 0, 0.603),orange,rgba(255, 0, 0, 0.603));
}

.img_index{
    width: 1440px;
    height: 800px;
}

.h1_h2{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    padding-top: 25px;
    color: white;
    border-radius: 5px;
}

.h1Home{
    font-size: 50px;
}

.spanHome{
    color: rgb(212, 119, 65);
    font-size: 70px;
}

h2{
    font-size: 35px;
}

@media only screen and (min-width:993px) and (max-width:1200px){

    header{
        width: 1200px;
        height: 670px;
    }

    .img_index{
        width: 1200px;
        height: 670px;
    }
}

@media only screen and (min-width:769px) and (max-width:992px){
    
    header{
        width: 992px;
        height: 570px;
    }

    .img_index{
        width: 992px;
        height: 570px;
    }
}

@media only screen and (min-width:577px) and (max-width:768px){

    header{
        width: 768px;
        height: 460px;
    }

    .h1Home{
        font-size: 40px;
    }

    .spanHome{
        font-size: 55px;
    }

    .h2Home{
        font-size: 35px;
    }

    .img_index{
        width: 768px;
        height: 460px;
    }
}

@media only screen and (min-width:415px) and (max-width:576px){

    header{
        width: 576px;
        height: 350px;
    }

    .img_index{
        width: 576px;
        height: 350px;
    }

    .h1_h2{
        padding-top: 90px;
    }

    .h1Home{
        font-size: 32px;
        color: transparent;
    }

    .spanHome{
        font-size: 80px;
    }

    .h2Home{
        color:transparent;
    }
}

@media only screen and (min-width:360px) and (max-width:414px){

    header{
        width: 414px;
        height: 260px;
    }

    .img_index{
        width: 414px;
        height: 260px;
    }

    .h1_h2{
        padding-top: 0px;
    }

    .h1Home{
        color: transparent;
    }

    .h2Home{
        color: transparent;
    }
}

@media only screen and (min-width:280px) and (max-width:359px){

    header{
        width: 359px;
        height: 210px;
    }

    .img_index{
        width: 359px;
        height: 210px;
    }

    .h1_h2{
        padding-top: 0px;
    }

    .h1Home{
        color: transparent;
    }

    .h2Home{
        color: transparent;
    }

    .spanHome{
        font-size: 54px;
    }
}