@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@500;600&family=Raleway:ital,wght@1,500&display=swap');

/*font-family: 'Caveat', cursive;*/

.contenedor-carta{
    background-image: linear-gradient(rgba(255, 0, 0, 0.603),orange,rgba(255, 0, 0, 0.603));
    font-family: 'Caveat', cursive;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 1440px;
}

.hrItem{
    margin: 0;
    width: 1280px;
}

@media only screen and (min-width:993px) and (max-width:1200px){

    .contenedor-carta{
        width: 1200px;
    }

    .hrItem{
        width: 1200px;
    }
}

@media only screen and (min-width:769px) and (max-width:992px){

    .contenedor-carta{
        width: 992px;
    }

    .hrItem{
        width: 992px;
    }
}

@media only screen and (min-width:577px) and (max-width:768px){

    .contenedor-carta{
        width: 768px;
    }

    .hrItem{
        width: 768px;
    }
}

@media only screen and (min-width:415px) and (max-width:576px){

    .contenedor-carta{
        width: 576px;
    }

    .hrItem{
        width: 576px;
    }
}

@media only screen and (min-width:360px) and (max-width:414px){

    .contenedor-carta{
        width: 414px;
    }

    .hrItem{
        width: 414px;
    }
}

@media only screen and (min-width:280px) and (max-width:359px){

    .contenedor-carta{
        width: 359px;
    }

    .hrItem{
        width: 359px;
    }
}