
.cantidad{
    font-size: 25px;
    padding-left: 5px;
}

.divAñadir{
    padding-top: 10px;
}

@media only screen and (min-width:769px) and (max-width:820px){

    .cantidad{
        font-size: 37px;
    }
}