@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@500;600&family=Raleway:ital,wght@1,500&display=swap');

.footerContainer{
    background-color: black;
    font-family: 'Caveat', cursive;
    color: orange;
    text-align: center;
    width: 1440px;
    height: 270px;
}

.divContUbi{
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 40px;
}

.divDerechos{
    text-align: center;
    padding-top: 30px;
    
}

ul li{
    list-style: none;
}

.h3Contacto{
    font-size: 35px;
    padding-left: 25px;
}

.listaDatos{
    font-size: 25px;
}

@media only screen and (min-width:993px) and (max-width:1200px){

    .footerContainer{
        width: 1200px;
    }
}

@media only screen and (min-width:769px) and (max-width:992px){

    .footerContainer{
        width: 992px;
    }
}