@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@500;600&family=Raleway:ital,wght@1,500&display=swap');

.footerContainer{
    background-color: black;
    font-family: 'Caveat', cursive;
    color: orange;
    text-align: center;
    width: 1280px;
}

.divContUbi{
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.divDerechos{
    text-align: center;
    padding: 15px;
}

ul li{
    list-style: none;
}

.h3Contacto{
    font-size: 30px;
    padding-left: 25px;
}

.listaDatos{
    font-size: 20px;
}