@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@500;600&family=Raleway:ital,wght@1,500&display=swap');

.footerContainer{
    background-color: black;
    font-family: 'Caveat', cursive;
    color: orange;
    text-align: center;
    width: 1440px;
    height: 270px;
}

.divContUbi{
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 40px;
}

.divDerechos{
    text-align: center;
    padding-top: 30px;
}

ul li{
    list-style: none;
}

.h3Contacto{
    font-size: 35px;
    padding-left: 25px;
}

.listaDatos{
    font-size: 25px;
}

@media only screen and (min-width:993px) and (max-width:1200px){

    .footerContainer{
        width: 1200px;
    }
}

@media only screen and (min-width:769px) and (max-width:992px){

    .footerContainer{
        width: 992px;
    }
}

@media only screen and (min-width:577px) and (max-width:768px){

    .footerContainer{
        width: 768px;
        height: 210px;
    }

    .divContUbi{
        padding-top: 0px;
        height: 170px;
    }

    .ulFooter{
        margin: 0;
    }
    
    .h3Contacto{
        font-size: 30px;
        margin: 0;
    }
    
    .listaDatos{
        font-size: 20px;
    }

    .divDerechos{
        padding-top: 5px;
        margin: 0;
    }
}

@media only screen and (min-width:415px) and (max-width:576px){

    .footerContainer{
        width: 576px;
        height: 205px;
    }

    .divContUbi{
        padding-top: 30px;
        margin: 0;
        height: 140px;
    }

    .h3Contacto{
        font-size: 25px;
        margin: 0;
    }

    .ulFooter{
        margin: 0;
    }

    .listaDatos{
        font-size: 18px;
    }

    .divDerechos{
        padding-top: 35px;
        margin: 0;
    }

    .divDerechos h5{
        margin: 0;
    }
}