.listaRedes{
    padding-top: 10px;
}

.ulListaRedes{
    display: flex;
    justify-content: space-evenly;
    padding-right: 35px;
}

@media only screen and (min-width:415px) and (max-width:576px){
    
    .listaRedes{
        font-size: 25px;
    }
}

@media only screen and (min-width:360px) and (max-width:414px){

    .listaRedes{
        font-size: 25px;
    }
}