@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@500;600&family=Raleway:ital,wght@1,500&display=swap');

.cartContainer{
    background-image: linear-gradient(rgba(255, 0, 0, 0.603),orange,rgba(255, 0, 0, 0.603));
    font-family: 'Caveat', cursive;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 580px;
    width: 1280px;
}

.cartContainer2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.precioTotal{
    font-size: 50px;
}

.cantidad{
    font-size: 35px;
}