@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@500;600&family=Raleway:ital,wght@1,500&display=swap');

.barraNav{
    background-image: linear-gradient(rgba(255, 0, 0, 0.603),orange,rgba(255, 0, 0, 0.603));
    width: 1440px;
    height: 65px;
}

.listaIndiv{
    list-style: none;
    font-size: 30px;
    font-family: 'Caveat', cursive;
}

.listaIndiv a{
    text-decoration: none;
    color: #fff;
}

.listaIndiv:hover{
    font-weight: bold;
    font-size: 35px;
}

.ulNavBar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding-top: 5px;
}

@media only screen and (min-width:993px) and (max-width:1200px){
    
    .barraNav{
        width: 1200px;
    }
}

