.volverATragos{
    font-family: 'Caveat', cursive;
    font-size: 30px;
    padding-left: 3px;
    padding-right: 8px;
    border: 1px solid orange;
    border-radius: 4%;
}

.volverATragos:hover{
    color: orange;
    font-weight: bold;
}

