@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@500;600&family=Raleway:ital,wght@1,500&display=swap');

:root{
    --fuente1: 'Caveat', cursive;
}

.containerDetail{
    background-image: repeating-radial-gradient(rgb(92, 51, 46),rgb(128, 86, 69),rgb(92, 51, 46));
    font-family: var(--fuente1);
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 721px;
    padding-top: 30px;
    color: white;
}

span{
    color: orange;
}

h2{
    padding-top: 10px;
}

h3{
    font-size: 35px;
    padding-top: 10px;
}

p{
    font-size: 30px;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 10px;
}
.buttonDetail{
    padding-top: 20px;
}